In [1]:
# Used for weatherforecasts (nine day period)
# https://api.met.no/weatherapi/locationforecast/2.0/documentation
# https://developer.yr.no/doc/GettingStarted/

import requests
import pandas as pd

# Define endpoint and parameters 
endpoint = 'https://api.met.no/weatherapi/locationforecast/2.0/compact'

# A user-agent header is needed for the server to accept the request
headers = {
    'User-Agent': 'AneoStudentProject/1.0 (jesperba@stud.ntnu.nom)' 
}

# all cities from our dataset
bergen = {
    'lat': '60.391262', # altitude
    'lon': '5.322054', # longitude
}

helsingfors = {
    'lat': '60.169830', # altitude
    'lon': '24.938190', # longitude
}

oslo = {
    'lat': '59.91273', # altitude
    'lon': '10.74609', # longitude
}

stavanger = {
    'lat': '58.97005', # altitude
    'lon': '5.73332', # longitude
}

troms√∏ = {
    'lat': '69.6489', # altitude
    'lon': '18.95508', # longitude
}

trondheim = {
    'lat': '63.43049', # altitude
    'lon': '10.39506', # longitude
}

In [2]:
# Issue an HTTP GET request
r = requests.get(endpoint, headers=headers, params=oslo) # <- set params to <city>

# Extract JSON data
json_data = r.json()

# Check if the request worked, print out any errors
if r.status_code == 200:
    # Extract 'timeseries' data from 'properties'
    timeseries_data = json_data['properties'].get('timeseries', None)
    if timeseries_data:
        print('Data retrieved from api.met.no!')
    else:
        print("The 'timeseries' key is not in the response.")
else:
    print('Error! Returned status code %s' % r.status_code)
    print('Message: %s' % json_data['error']['message'])
    print('Reason: %s' % json_data['error']['reason'])

Data retrieved from api.met.no!

In [4]:
# Process each data point into a flat dictionary and append to a list
processed_data = []

for entry in timeseries_data:
    # Extract time and basic data
    data_point = {
        'time': entry['time']
    }
    
    # Flatten the 'instant' details, if they exist
    instant_details = entry['data'].get('instant', {}).get('details', {})
    for key, value in instant_details.items():
        data_point[key] = value
    
    # We could also flatten other details if needed, e.g., 'next_1_hours', 'next_6_hours', etc.
    
    processed_data.append(data_point)

# Convert the list of dictionaries into a DataFrame
df = pd.DataFrame(processed_data)

df.head(10)

,time,air_pressure_at_sea_level,air_temperature,cloud_area_fraction,relative_humidity,wind_from_direction,wind_speed
0,2023-11-02T11:00:00Z,996.6,0.5,100.0,87.4,38.5,4.7
1,2023-11-02T12:00:00Z,996.2,0.8,100.0,88.3,40.2,4.9
2,2023-11-02T13:00:00Z,995.7,1.0,100.0,87.2,37.5,5.4
3,2023-11-02T14:00:00Z,995.5,1.3,100.0,88.0,41.5,4.8
4,2023-11-02T15:00:00Z,995.2,1.4,100.0,88.5,42.8,5.5
5,2023-11-02T16:00:00Z,995.0,1.4,100.0,89.6,46.7,5.8
6,2023-11-02T17:00:00Z,994.6,1.6,100.0,88.6,49.1,6.4
7,2023-11-02T18:00:00Z,994.2,1.6,100.0,89.3,50.7,7.5
8,2023-11-02T19:00:00Z,993.8,1.7,100.0,90.6,55.6,9.5
9,2023-11-02T20:00:00Z,993.4,2.1,100.0,90.9,56.4,9.6